<div class="card card-default">
  <div class="card-body">
    <div class="row" id="product-stock-summary-container">
        <div class="col-md-2 table-responsive">
            <table id="related-items-selection-table" class="table table-bordered container text-nowrap table-sm table-head-fixed"></table>
        </div>
        <div class="col-md-10 table-responsive" style="max-height: 600px">
            <table id="related-items-main-table" class="table table-bordered container text-nowrap table-sm table-head-fixed"></table>
        </div>
      </div>
  </div>
</div>
