<style>
  .dataTables_filter {
      display: none;
      }

      .header-style {
          background-color: #4b545c;
          color: white;
          width:100%;
        }
        {% comment %} .dataTables_scrollHeadInner {
          width: 100% !important;
          min-width: 100% !important;
        } {% endcomment %}
        .table {
          width: 100% !important;
          min-width: 100% !important;
        }
</style>
<template id="data-table-temp">
  <div>
     <div class="card-body" >
        <table id="datalist_tabl" class="table table-bordered table-hover table-sm text-nowrap table-striped">
          <thead class="header-style"></thead>
        </table>
     </div>
  </div>
</template>

<div class="p-2 mt-3 d-flex justify-content-center d-none" id="view-template-container">
    <div id="print-div" class="p-5" style="width: 784px; height: auto">
        
    </div>
</div>

{% include 'components/columnsettingcomp.html' %}

<script type="application/javascript">

  Vue.component('quotationdatatablecomp', {
      template: '#data-table-temp',
      delimiters:['[[',']]'],
      props:['tabl_meta_data'],
      data: function () {
          return {
              list_items: {},
              view_meta : { title : 'Column Settings' }
          }
      },
      methods: {
          viewRowData(data) {
              let preview_url =  self.tabl_meta_data.row_view_url
              if(preview_url==undefined){
                  EventBus.$emit("view_sidebar", data);
              }else{
                  preview_url =  preview_url.replace("/0", "/"+data)
                  tabl_name = self.tabl_meta_data.table_name
                  tab_title = 'View '+tabl_name+' '+data
                  self.addOpenIframePage(tabl_name,data,preview_url,tab_title)
              }
          },

          previewRowData(data) {
              
              EventBus.$emit("preview", data);
          },

          viewColSettings(data){
              tabl_name = self.tabl_meta_data.table_name
              EventBus.$emit("view_col_setting", tabl_name );
          },

          edit_row(el){
              tabl_name = self.tabl_meta_data.table_name
              row_id = $(el).parent().data('id')
              
              let edit_url =  self.tabl_meta_data.edit_form_url
              
              if(edit_url==undefined){
                  app_name = self.tabl_meta_data.data_table_url.split('/')[1];
                  edit_url = app_name+'/action/edit/'+ row_id
              }else{
                  edit_url =  edit_url.replace("/0", "/"+row_id)
              }
              self.addOpenIframePage(tabl_name,row_id,edit_url)
          },
          addOpenIframePage(tabl_name,row_id,tab_url,tab_title=''){
             let tab_title2 = tab_title ? tab_title : 'Edit '+tabl_name ;
             let unique_name = tab_title2.replace(/\s/g, ''); //(Math.random() + 1).toString(36).substring(7)
             var data = ['createTab', tab_title2 , tab_url, unique_name , true ]
             var event = new CustomEvent('addOpenIframePage', { detail: data })
             window.parent.document.dispatchEvent(event)
          },
          init_datatable(element, url, column_defs,columns) {
              
                

              //table_columns = columns();
              /*if (show_header_filters) {
                  element.append(buildTheadTfoot(table_columns));
              }
              if (!ordering) {
                  ordering = "creation_date" in data_targets ? [[data_targets["creation_date"], "desc"]] : [[0, "desc"]];
              }*/
              //console.log('init table',columns)
              var table = element.DataTable({
                  'fixedHeader': true,
                  'serverSide': true,
                  'processing': true,
                  "pageLength": 10,
                  aLengthMenu: [
                      [10, 25, 50, 100, -1],
                      [10, 25, 50, 100, "All"]
                  ],
                  'ajax': {
                      "url": url+'?format=datatables',
                      "contentType": "application/json",
                      "data": function (d) {
                         // $.extend(d, params());
                      }
                  },
                  //order: ordering,
                  "ordering": true,
                  //dom: '<"topbuttons"B>frt',
                  buttons: [{
                      text: '<i class="fas fa-indent"></i>',
                      action: function ( e, dt, node, config ) {
                          self.viewColSettings(1);
                      }
                  }],
                //   scrollX: "100%",
                  drawCallback : function( settings ) {
                     
                  },
                  "headerCallback": function( nHead, aData, iStart, iEnd, aiDisplay ) {
                      /*table.columns().iterator('column', function ( settings, column) {
                          if (settings.aoColumns[ column ].tooltip!== undefined) {
                              $(table.column(column).header()).attr('data-toggle', 'popover');
                              $(table.column(column).header()).attr('data-placement', 'top');
                              $(table.column(column).header()).attr('data-trigger', 'hover');
                              $(table.column(column).header()).attr('title', settings.aoColumns[ column ].title);
                              $(table.column(column).header()).attr('data-content', settings.aoColumns[ column ].tooltip);
                          }
                      });
                      $('[data-toggle="popover"]').popover();*/
                  },
                  "columns": columns,
                  'columnDefs': column_defs,
                  initComplete: function () {
                      $('.buttons-copy').html('<i class="fa fa-copy" data-widget="col-setting" data-target=".col-setting" />')
                      var api = this.api();
                      api.$('td').click(function () {
                          column = $('#datalist_tabl thead tr th').eq($(this).index()).text()
                          
                          if (column == "Id" || $(this).index()==1 ){
                              const cell = api.cell($(this));
                              row_id = cell.row(this).data()['id'];
                              if(row_id==undefined)
                                  row_id =  $(this).closest('td').prev('td').data()['id']
                              self.viewRowData(row_id);
                          }
                          /*else if(column == "Button"){
                              const cell = api.cell($(this));
                              enquiry_id = cell.row(this).data()['id'];
                              self.previewRowData(enquiry_id);
                          }.*/
                      });
                  },
                  
                  //dom: 'Brtip',
              });
              
              return table;
          }
      },
      mounted(){
          self = this;
          custom_cols = self.tabl_meta_data.custom_columns
          display_col_indexes = self.tabl_meta_data.display_col_indexes
         
          if(display_col_indexes != null ){
              diplayCols = []
              for(let display_col in display_col_indexes){
                  disColIndex = display_col_indexes[display_col];
                  diplayCols[disColIndex] = disColIndex;
              }
          }

          let incIndex = 0;
          

          columnDefArr = [{
              "targets": 0,
              "createdCell": function (td, cellData, rowData, row, col) {
                  primary_key = Object.keys(rowData)[0]
                  $(td).attr('data-id', rowData[primary_key]);
              }
              }]

          for( let col_defs in self.tabl_meta_data.column_info){
                  singleColDef = {}
                  singleColDef['target'] = [Number(incIndex)];
                  if( custom_cols!=undefined && custom_cols[incIndex] !== undefined){
                          let custom_html = custom_cols[incIndex];
                          singleColDef['render'] =  function (data, type, row) {
                                                          let custom_cell_html = custom_html.replace("cell_data", data);
                                                          custom_cell_html = custom_cell_html.replace("cust_class", self.tabl_meta_data.cust_classes[data]);
                                                          return custom_cell_html
                                                  }
                  }
                  if(display_col_indexes != null ){
                      if( diplayCols[incIndex]!== undefined){
                          singleColDef['visible']   = true
                      }else{
                          singleColDef['visible']   = false
                      }
                  }
                  columnDefArr.push(singleColDef)
                  incIndex++;
          }


          let columns =  self.tabl_meta_data.column_info;
          // actionColHtml = '<button id="dynButton" onclick="self.edit_row(this)" class="btn btn-info btn-sm waves-effect waves-light mdi mdi-pencil" data-toggle="modal"><i class="fas fa-edit"></i></button>'
          // if(custom_cols!=undefined && custom_cols[0] != undefined){
          //     actionColHtml = custom_cols[0]
          // }
          columns.unshift({
              "data": null,
              "name": "buttonColumn",
              "render": function (data, type, row) {
                  const row_id = data[Object.keys(data)[9]]
                  let actionCellHtml = `<div class="btn-group">\
                        <button type="button" class="btn btn-info btn-xs waves-effect waves-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                            <i class="ti-menu"></i>Action\
                        </button>\
                        <div class="dropdown-menu animated flipInY">\
                        ${
                            data.status == 'FINALIZED' 
                        
                                ?  
                        
                            `<a class="dropdown-item" href="javascript:void(0)" onclick="view_quotation('${data['quotation_number']}')">View Quotation</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="createInvoice('${row_id}')">Convert to Sales</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="exportQuotation('${data['quotation_number']}')">Print Quotation</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="view_pdf_quotation_print('${data['quotation_number']}')">View Quotation Print</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="generate_quotation_excel('${data['quotation_number']}')">Generate excel</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="print_quotation_pick_slip('${data['quotation_number']}', false)">View pick Slip</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="print_quotation_pick_slip('${data['quotation_number']}', true)">Print Pick Slip</a>
                            ` 
                            : 
                            `<a class="dropdown-item" href="javascript:void(0)" onclick="finalize_quotation('${data['quotation_number']}')">Finalize Quotation</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="exportQuotation('${data['quotation_number']}')">Print Quotation</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="view_quotation('${data['quotation_number']}')">View Quotation</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="generate_quotation_excel('${data['quotation_number']}')">Generate excel</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="print_quotation_pick_slip('${data['quotation_number']}', false)">View pick Slip</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="print_quotation_pick_slip('${data['quotation_number']}', true)">Print Pick Slip</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="edit_quotation('${data['quotation_number']}')">Edit Quotation</a>`
                        }
                        </div>\
                        </div>`;
                  return actionCellHtml;
              }
          })
          
          setTimeout(() => {
                  datatable_url = self.tabl_meta_data.data_table_url;
                  
                  table = this.init_datatable($('#datalist_tabl'), datatable_url,  columnDefArr, columns)
                  $('#tabl_global_search').on( 'keyup', function () {
                      table.search( this.value ).draw();
                  } ); 
              });
      }
  })
  
</script>